{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="presentation-picture">
        <img src="{{ asset('images/compagny/boutique1.jpg') }}" alt="" width="100%" height="100%">
    </div>
{% endblock %}
