body {
    font-family: 'Lato', sans-serif !important;
    line-height: 1.4;
}

/*navbar*/
.navbar-brand {
    font-size: 0.9rem;
}

/*home*/
.presentation-picture {
    width: 100%;
    height: 100vh;
}

.presentation-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
