{% if field.value | length > 0 %}
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalImage{{ entity.primaryKeyValue }}">
                {{ field.value | length }}
        </button>

        <!-- Modal -->
        <div class="modal fade" id="modalImage{{ entity.primaryKeyValue }}" tabindex="-1" aria-labelledby="modalLabelImage{{ entity.primaryKeyValue }}" aria-hidden="true">
                <div class="modal-dialog">
                        <div class="modal-content">
                                <div class="modal-header">
                                        <h5 class="modal-title" id="modalLabelImage{{ entity.primaryKeyValue }}">Images</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                        {% for image in field.value %}
                                                <img src="{{ asset('images/uploads/drinks/') ~ image.image }}" alt="" width="200px" height="200px" style="object-fit: cover">
                                        {% endfor %}
                                </div>
                                <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                </div>
                        </div>
                </div>
        </div>
{% endif %}
