<div class="form-widget">
    {% for image in field.value %}
        <img src="{{ asset('images/uploads/drinks/') ~ image.image }}" alt="" width="100px" height="100px" style="object-fit: cover">
    {% endfor %}
</div>
