{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title 'Dashboard' %}

{% block page_actions %}
    <a class="btn btn-primary" href="#">Action divers</a>
{% endblock %}

{% block main %}
    <style>
        p { max-width: 600px; }
    </style>

    <p>Ajouter présentation</p>
{% endblock %}
