{% extends 'base.html.twig' %}

{% block title %}Drink index{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}">
{% endblock %}

{% block body %}
    <h1>Drink index</h1>

    {{ form_start(form) }}
    {{ form_row(form.keyword) }}
    {{ form_row(form.category) }}
    {{ form_row(form.subcategory) }}
    {{ form_row(form.country) }}
    {{ form_row(form.styles) }}
    {{ form_row(form.priceMin) }}
    {{ form_row(form.priceMax) }}
    <div class="mb-3">
        <span>Prix :</span><span id="previewPrice" style="border:0; color:#f6931f; font-weight:bold;"></span>
        <div id="slider-range"></div>
    </div>
    {{ form_row(form.numberOfResultsPerPage) }}
    <button class="btn">{{ button_label|default('Filtrer') }}</button>
    {{ form_end(form) }}

    <p>{{ drinks.getTotalItemCount }} résultats</p>



    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th{% if drinks.isSorted('drink.price') %} class="sorted"{% endif %}> {# class sorted à définir#}
                {{ knp_pagination_sortable(drinks, 'Prix', 'drink.price') }}
            </th>
            <th>Degrés</th>
            <th>Année</th>
            <th>Pays</th>
            <th>Description</th>
            <th>Producteur</th>
            <th>Contenance</th>
            <th>Categorie</th>
            <th>Sous-catégorie</th>
            <th>Styles</th>
            <th>Images</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for drink in drinks %}
            <tr>
                <td>{{ drink.name }}</td>
                <td>{{ drink.price }} €</td>
                <td>{{ drink.degree }}°</td>
                <td>{{ drink.year }}</td>
                <td>{{ drink.countryName }}</td>
                <td>{{ drink.description | raw }}</td>
                <td>{{ drink.producer }}</td>
                <td>{{ drink.capacity }} cl</td>
                <td>{{ drink.category.label }}</td>
                <td>{{ drink.subcategory.label }}</td>
                <td>
                    {% for style in drink.styles %}
                        {{ style.label }},
                    {% endfor %}
                </td>
                <td>
                    {% for image in drink.images %}
                        <img src="{{ asset('images/uploads/drinks/') ~ image.image }}" alt="" width="70px" height="70px" style="object-fit: cover">
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('drink_show', {'id': drink.id}) }}">Voir</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(drinks) }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/jquery-ui.min.js') }}"></script>
    <script>
        $(function() {
            if (!$("#filter_priceMin").val() && !$("#filter_priceMax").val()) {
                $("#filter_priceMin").val(0);
                $("#filter_priceMax").val(500);
            }

            $("#slider-range").slider({
                range: true,
                min: 0,
                max: {{ minMaxPrice['max'] }},
                values: [$("#filter_priceMin").val(), $("#filter_priceMax").val()],
                slide: function(event, ui) {
                    $("#previewPrice").text(' ' + ui.values[0] + " € - " + ui.values[1] + " €");
                    $("#filter_priceMin").val(ui.values[0]);
                    $("#filter_priceMax").val(ui.values[1]);
                }
            });
            $("#previewPrice").text(' ' + $("#slider-range").slider("values", 0) + " € - " + $("#slider-range").slider("values", 1) + " €");
            $("#filter_priceMin").val($("#slider-range").slider("values", 0));
            $("#filter_priceMax").val($("#slider-range").slider("values", 1));
        });
    </script>
{% endblock %}
