{% extends 'base.html.twig' %}

{% block title %}Drink{% endblock %}

{% block body %}
    <h1>Drink show</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ drink.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ drink.name }}</td>
        </tr>
        <tr>
            <th>Prix</th>
            <td>{{ drink.price }} €</td>
        </tr>
        <tr>
            <th>Degrés</th>
            <td>{{ drink.degree }}°</td>
        </tr>
        <tr>
            <th>Année</th>
            <td>{{ drink.year }}</td>
        </tr>
        <tr>
            <th>Pays</th>
            <td>{{ drink.countryName }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ drink.description | raw }}</td>
        </tr>
        <tr>
            <th>Producteur</th>
            <td>{{ drink.producer }}</td>
        </tr>
        <tr>
            <th>Contenance</th>
            <td>{{ drink.capacity }} cl</td>
        </tr>
        <tr>
            <th>Categorie</th>
            <td>{{ drink.category.label }}</td>
        </tr>
        <tr>
            <th>Sous-catégorie</th>
            <td>{{ drink.subcategory.label }}</td>
        </tr>
        <tr>
            <th>Styles</th>
            <td>
                {% for style in drink.styles %}
                    {{ style.label }},
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Images</th>
            <td>
                {% for image in drink.images %}
                    <img src="{{ asset('images/uploads/drinks/') ~ image.image }}" alt="" width="150px" height="150px" style="object-fit: cover">
                {% endfor %}
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
