<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="col-12 text-center">
            <a class="navbar-brand" href="#">A PROPOS</a>
            <a class="navbar-brand" href="#">MAGASIN</a>
            <a class="navbar-brand" href="{{ path('home_index') }}">
                <img src="{{ asset('images/compagny/logo.png') }}" alt="" width="125" height="125">
            </a>
            <a class="navbar-brand" href="{{ path('drink_index') }}">CARTE</a>
            <a class="navbar-brand" href="#">CONTACT</a>
        </div>
    </div>
</nav>
